@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	text-align: left;
	margin-left: 0;
	padding-left: 0;
}

a:link,a:visited {
	text-decoration: none;
}

/*菜单个性设置*/
.wrap-menu {
	width:190px;
	height:95%;
	margin: 1px;
	padding:10px 5px;
	background:#3399FF;
	border-radius:10px;
	float: left
}

.wrap-menu ul,ul li,ul li a {
	list-style: none;
	text-align: left;
}

.wrap-menu ul li {
	border:1px solid white;	
}

.wrap-menu ul li a {
	display: block;
	height: 26px;
	line-height: 26px;
	background: #FFFFFF;
	color: #000000;
	border-top: 1px #B8C2CB solid;
	font-size: 14px;
	
}

.wrap-menu a:hover {
	background: #ffff66;	
}
.wrap-menu ul li h2 {
	display: block;
	line-height: 31px;
	height: 31px;
	font-size: 15px;
	color: #fff;
	background: #6699CC;<!--#AAAAAA -->
}

