@CHARSET "UTF-8";
/***********************清除默认值**************************************************/
html{
	overflow-x: hidden;
	*+overflow-x: auto;
}
body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
ol, ul, li{
	list-style:none;
	margin: 0px;
	padding: 0px;
}
label{
	vertical-align:middle;
}
fieldset{
	border: 1px solid #cecece;
}
legend{
	font-weight: 600;
}
.td {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.tr {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
input[type="checkbox"]{
	width: 11px;
	height: 11px;
}
select{
	background: #f3f3f3;
	border-color: #cecece;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/**************************页面主要元素开始************************************************************/

.nav{
	padding: 10px 10px 5px 10px;
	font-size: 12px;
	color: RGB(140,140,140);
	text-align: left;
	overflow: hidden;
	clear: both;
}
.nav_left{
	float: left;
	width: 300px;
}
.nav_right{
	float: right;
}
.edit-line {
	height: 1px;
	width: 100%;
	background-color: #CCC;
	_overflow: hidden;
}

.space_flow_10 {
	clear: both;
	margin-top: 10px;
}
.space_flow_20 {
	clear: both;
	margin-top: 20px;
}
.copyright{
	font-size: 12px;
	color: #666666;
}
.scrollDiv{
	width: 100%;
	overflow-x:auto; 
	overflow-y:visible;
	*height: expression(this.scrollHeight+16);     /*解决IE6,7下滚动条挡住最后一行 */
}
fieldset p{
	padding-left: 20px;
	text-align: left;
}
.role_left{
	float: left;
	clear: both;
	width: 160px;
	text-align: right;
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 2px;
	font-weight: 600;
}
.sys_select{
	width: 100px;
	margin-top: 3px;
}
.textbox{
	width: 120px;
}
.edit_right span{
	color: red;
}
.edit_plus{
	margin-top: 6px;
	text-align: left;
	display:inline;
}
.edit_plus span{
	color: red;
}
.inputbox{
	width: 130px;
	height: 16px;
	border: 1px solid #cecece;
}

/**************************页面主要元素样式结束************************************************************/

/**************************表格样式开始************************************************************/

.main_container{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 40px;
	overflow: visible;
}
.title{
	height: 40px;
	background-color: #eeeeee;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	clear: both;
}

.title_left{
	text-align: left;
	line-height: 40px;
	font-family: "微软雅黑";
	float: left;
	margin-left: 10px;
	font-size: 16px;
}
.title_left_radius{
	text-align: left;
	line-height: 31px;
	font-family: "微软雅黑";
	float: left;
	margin-left: 10px;
	font-size: 16px;
}
.title_left_icon{
	float: left;
	margin-left: 10px;
	margin-top: 12px;
}
.title_right{
	text-align: left;
	line-height: 40px;
	font-family: "微软雅黑";
	float: right;
	margin-right: 10px;
	font-size: 16px;
}
.title_right_btn{
	font-family: "微软雅黑";
	float: right;
	margin-right: 10px;
	margin-top: 8px;
	font-size: 16px;
}
.chart{
	height: auto;
	width: auto;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	overflow: hidden;
}
.chart_container{
	margin: 0px 5px;
}
.chartDesc{
	margin-left: 50px;
	margin-top: 15px;
	color: #000;
	font-size: 14px;
	text-align: left;
	margin-bottom: 5px;
}
.chart_btn_container{
	clear: both;
	text-align: right;
	margin-bottom: 10px;
	margin-right: 25px;
	_margin-left: 85%;
	_margin-bottom: 0px;
	_padding-bottom: 10px;
	_width: 100px;
}
.chart_table{
	border: 1px solid #cecece;
	border-top: 0px;
}
.table_td_first{
	height: 30px;
	border-right: 1px solid #cecece;
	border-top: 1px solid #cecece;
	background-color: #f5f5f5;
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
}
.table_td_head{
	height: 30px;
	background-color: #f5f5f5;
	border-top: 1px solid #cecece;
	line-height: 30px;
	font-size: 12px;
}
.table_td{
	border-top: 1px solid #cecece;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.compare_list{
	position: absolute;
	z-index: 1100;
	height: auto;
	width: auto;
	_width: 120px;
	background-color: #fff;
	border: 1px solid #cecece;
	text-align: left;
	
}
.compare_ul{
	width: 120px;
}
.compare_li{
	font-size: 14px;
	clear: both;
	padding: 5px 10px;
}
.checkboxBg_n{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../../images/checkbox_n.png);
}
.checkboxBg_h{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../../images/checkbox_h.png);
}
.checkboxBg_a_h{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../../images/checkbox_a_n.png);
}
.checkboxBg_a_n{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	background: url(../../images/checkbox_a_h.png);
}
.time_container{
	overflow: hidden;
	width: 960px;
	clear: both;
	_zoom:1;
	*float: left;
	_display: inline;
}
.time_left{
	float: left;
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 40px;
	margin-left: 5px;
	_display: inline;
}
.time_right_1{
	float: left;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 7px;
	_display: inline;
}
.time_right_2{
	float: left;
	font-size: 14px;
	color: #666666;
	line-height: 40px;
	margin-left: 5px;
	_display: inline;
	_zoom:1;
}
/**************************表格样式结束************************************************************/

/**************************按钮样式开始************************************************************/

.btn_normal{
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
	line-height: 23px;
	background: -moz-linear-gradient(top,#fefefe,#f0f0f0);
	background: -webkit-linear-gradient(top,#fefefe,#f0f0f0);
	background: -o-linear-gradient(top,#fefefe,#f0f0f0);
	background: -ms-linear-gradient(top,#fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f0f0f0);/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#f0f0f0)";/*IE8+*/
	cursor: pointer;
	width: 120px;
	border: 1px solid #cecece;
	font-family: "微软雅黑";
	font-size: 14px;
}
.btn_small{
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
	line-height: 23px;
	background: -moz-linear-gradient(top,#fefefe,#f0f0f0);
	background: -webkit-linear-gradient(top,#fefefe,#f0f0f0);
	background: -o-linear-gradient(top,#fefefe,#f0f0f0);
	background: -ms-linear-gradient(top,#fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fefefe, endColorstr=#f0f0f0);/*IE<9>*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fefefe, endColorstr=#f0f0f0)";/*IE8+*/
	cursor: pointer;
	width: 60px;
	border: 1px solid #cecece;
	font-family: "微软雅黑";
	font-size: 14px;
}
.excel_out_container{
	float: right;
	height: 25px;
	width: auto;
	cursor: pointer;
	line-height: 25px;
	font-size: 14px;
	color: #666666;
}
.excel_out_icon{
	height: 23px;
	width: 23px;
	background: url(../../images/icon_excel_out.png);
	float: left;
}
.btn_export_xls_n {
	FONT-SIZE: 15px;
	CURSOR: hand;
	COLOR: #FFF;
	background-image: url(../../images/btn/btn_export_xls_n.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 94px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "微软雅黑";
	font-weight: bold;
	text-shadow:0px 1px 3px #333;
}

.btn_export_xls_h {
	FONT-SIZE: 15px;
	CURSOR: hand;
	COLOR: #FFF;
	background-image: url(../../images/btn/btn_export_xls_h.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 94px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "微软雅黑";
	font-weight: bold;
	text-shadow:0px 1px 3px #333;
}
/**************************按钮样式结束************************************************************/

/**************************条件样式开始************************************************************/

.term{
	height: auto;
	width: auto;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	_padding-bottom: 0px;
	_margin-bottom: 15px;
}
.term_tags{
	width:100%;
	height:auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:20px;
	border:0px solid #000;
	overflow:hidden;
}
.term_left{
	height: auto;
	float: left;
	font-size: 12px;
}
.term_right{
	height: auto;
	float: right;
}
.term_right_item{
	margin-left: 10px;
}
.term_left_title{
	float: left;
	width: 100px;
	font-family: "微软雅黑";
	text-align: left;
	font-size: 14px;
}
.term_item{
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}
.term_row{
	clear: both;
	overflow: hidden;
	margin-bottom: 15px;
	_zoom: 1;
}
.term_td{
	padding-right: 20px;
}
.term_options{
	float: left;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-right: 20px;
}
.selected_option_container{
	float:left; 
	margin:5px; 
	border:1px solid #48b1e4; 
	overflow:hidden; 
	width:auto; 	
}
.selected_option{
	float:left;
	font-size: 14px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:5px;
	width:auto;
}
/**************************条件样式结束************************************************************/



/**************************口径说明样式开始************************************************************/
.explain_triangle {             
	position: absolute;
	border-color: transparent #545454 transparent transparent;
	border-style: solid;
	border-width: 6px 6px 6px 0px;
	width: 0;
	height: 0;
	_border-left-color: white;
    _border-top-color: white;
    _border-bottom-color: white;
    _filter: chroma( color =white);
    font-size: 0;
	line-height: 0;
}

.icon_explain_n{
	height: 18px;
	width: 18px;
	background: url(../../images/icon_explain_n.png) no-repeat;
	float: left;
}

.icon_explain_h{
	height: 18px;
	width: 18px;
	background: url(../../images/icon_explain_h.png) no-repeat;
	float: left;
}
.icon_setup_n{
	height: 18px;
	width: 18px;
	background: url(../../images/icon_setup_n.png) no-repeat;
	float: left;
}
.icon_setup_h{
	height: 18px;
	width: 18px;
	background: url(../../images/icon_setup_h.png) no-repeat;
	float: left;
}
.explain_container{
	position: absolute;
	width: 600px;
	height: auto;
	overflow: hidden;
	background-color: #545454;
	opacity: 0.9;
	text-align: left;
	z-index: 9999;
	filter:Alpha(opacity=90);
}

.explain_content{
	margin: 15px 25px 25px 25px;
	list-style: none;
	padding: 0px;
	z-index: 9999;
}


.explain_left{
	color: #8bb8bb;
	font-size: 13px;
	line-height: 25px;
}

.explain_right{
	font-size: 13px;
	color: #fff;
	line-height: 25px;
}
/**************************口径说明样式结束************************************************************/

/*************************右边弹出层样式开始************************************************************/


.floatDiv_container{
	width: 34px;
	height: 155px;
	background: url(../../images/floatDiv_1.png);
	text-align: center;
	cursor: pointer;
	position: fixed;
	bottom: 150px;
	right: 0px;
	_position: absolute;
	_top: expression(documentElement.scrollTop+documentElement.clientHeight - this.offsetHeight - 150);
}

.floatDiv{
	width: 15px;
	height: 65px;
	font-size: 14px;
	font-family: "微软雅黑";
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.triangle {             
	position: absolute;
	border-color: transparent #545454 transparent transparent;
	border-style: solid;
	border-width: 6px 6px 6px 0px;
	width: 0;
	height: 0;
	_border-left-color: white;
    _border-top-color: white;
    _border-bottom-color: white;
    _filter: chroma( color =white);
    font-size: 0;
	line-height: 0;
}

.floatDiv_main_container{
	height: 415px;
	width: 475px;
	border: 1px solid #cecece;
	position: absolute;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 50px;
	right: 0px;
	_position: absolute;
	_top: expression(documentElement.scrollTop+documentElement.clientHeight - this.offsetHeight - 50);
	z-index: 100;
}

.close_btn{
	background: url(../../images/panorama/icon_close_2.png) no-repeat;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	height: 10px;
	width: 10px;
	cursor: pointer;
}

.list_search_container{
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
}

.btn_search{
	background: url(../../images/panorama/search.png);
	height: 35px;
	width: 44px;
	width: 48px\9;
	width: 48px\9\0;
	float: left;
	cursor: pointer;
}

.list_search_left{
	height: 35px;
	width: 270px;
	margin-left: 10px;
	float: left;
	_display:inline;
}

.list_search_text{
	margin-top: 2px;
	width: 270px;
	height: 22px;
	outline: 0;
	line-height: 22px;
	font-size: 16px;
	float: left;
}

.list_search_right{
	float: right;
	margin-right: 10px;
	padding-top: 5px;
}

.list_content_container{
	clear: both;
	margin: 10px 5px;
	font-size: 14px;
	height: 310px;
}

.list_page_container{
	width: auto;
	height: 30px;
	float: right;
	margin-right: 10px;
	text-align: center;
}

.btn_page_1{
	width: 70px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	border: 1px solid #cecece;
	background-color: #f5f5f5;
	float: left;
}

.page_num_container{
	float: left;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.page_num{
	float: left;
	padding-right: 10px;
}

.list_page_container .btn_page_1:hover{
	background-color: #a1d5ef;
	border: 1px solid #43acdf;
	cursor: pointer;
}

.list_page_container .page_num:hover{
	font-size: 14px;
	color: #48b1e4;
	cursor: pointer;
}

.float_add_content{
	margin-top: 20px;
	height: 360px;
	width: auto;
}

.floatDiv_title{
	clear: both;
	float: left;
	width: 55px;
	height: 35px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	font-family: "微软雅黑";
	font-size: 16px;
}

.floatDiv_title_text{
	height: 35px;
	width: 394px;
	_width: 370px;
	float: left;
	border: 1px solid #cecece;
	outline: 0;
	font-size: 16px;
}

.floatDiv_textarea{
	float: left;
	border: 1px solid #cecece;
	outline: 0;
	width: 390px;
	_width: 370px;
	_margin-top: 10px;
	height: 300px;
	font-size: 18px;
}

.float_btn_container{
	overflow: hidden;
	height: 30px;
	width: auto;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -80px;
}
.float_btn_container_1{
	clear: both;
	overflow: hidden;
	height: 30px;
	width: auto;
	padding-top:20px;
	text-align: center;
}
.float_btn_spe1{
	display:inline;
	_zoom: 1;
	margin-left: 10px;
}
.float_btn_spe3{
	margin-right: auto;
	margin-left: auto;
}
.floatDiv_title_content{
	padding-top: 14px;
	float: left;
	width: 360px;
	text-align: left;
	font-size: 14px;
	_display: inline;
}
.floatDiv_row{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	overflow: hidden;
}
/*************************右边弹出层样式结束*************************************************/

/*************************顶部tab样式开始*************************************************/
.top_tab_container{
	height: 50px;
	width: 100%;
	max-width: 960px;
	_width: expression(this.offsetWidth > 960 ? '960px': true);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.top_tab_n{
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 2px solid #cecece;
	float: left;
	cursor: pointer;
}

.top_tab_a{
	margin-top: 20px;
	color: #359ed1;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "微软雅黑";
	font-size: 16px;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 2px solid #359ed1;
	float: left;
	cursor: pointer;
}

.top_tab_triangle {             
	position: absolute;
	border-color: #359ed1 transparent transparent transparent;
	border-style: solid;
	border-width: 8px 8px 8px 8px;
	width: 0;
	height: 0;
	_border-left-color: white;
    _border-right-color: white;
    _border-bottom-color: white;
    _filter: chroma( color =white);
    font-size: 0;
	line-height: 0;
}
/*************************顶部tab样式结束*************************************************/

/***************************分页样式开始***********************************************/
.total-1 {
	font-size: 12px;
	color: #333;
	width: 300px;
	padding-left: 20px;
	float: left;
	margin-top: 10px;
}
.total-2 {
	font-size: 12px;
	color: #333;	
	padding-right: 20px;
	float: right;
	margin-top: 10px;
}
.total-font-1 {
	font-size: 12px;
	color: #359ED1;
	margin-right: 3px;
	margin-left: 3px;
}
.total-font-2 {
	font-size: 12px;
	color: #333;
	margin-right: 3px;
	margin-left: 3px;
}
/***************************分页样式结束******************************************************/

/**************************折叠样式开始*********************************************************/
.fold-line{
	clear: both;
	height: 1px;
	width: 94%;
	background-color: #48b1e4;
	margin-right: 3%;
	margin-left: 3%;
	overflow: hidden;
}
.fold-block{
 	_vertical-align: bottom; 
}
.fold-container{
	overflow: hidden;
}
/**************************折叠样式结束*********************************************************/

/**************************增删改页面样式开始*********************************************************/
.edit_row{
	margin-left: 35%;
	margin-bottom: 15px;
	overflow: hidden;
	width: auto;
	height: auto;
	_zoom: 1;
}

.edit_left{
	float: left;
	clear: both;
	text-align: right;
	font-family: "微软雅黑";
	font-size: 14px;
	padding-top: 2px;
}
.edit_right{
	float: left;
	margin-left: 10px;
	text-align: left;
	_margin-left: 0px;
}

.edit_rightText{
	float: left;
	font-size: 14px;
	margin-left: 10px;
	text-align: left;
	padding-top: 5px;
}
.edit_input{
	width: 200px;
	height: 20px;
	line-height: 20px;
}
.edit_right_text{
	float: left;
	width: 400px;
	font-size: 14px;
	margin-left: 10px;
	text-align: left;
	padding-top: 5px;
}
.edit_btn_container{
	width: auto;
	height: auto;
	margin-top: 20px;
}
.edit_btn{
	width: auto;
	height: auto;
	overflow: hidden;
	display: inline;
}
.edit_radio{
	display: inline;
	overflow: hidden;
}
.editTable{
	clear: both;
	border: 1px solid #cecece;
	font-size: 12px;
/* 	width: 100%; */
	margin-top: 10px;
}
.editTable_th{
	background: #eeeeee;
	height: 25px;
	line-height: 25px;
	width: auto;
	font-weight: normal;
}
.editTable_td{
	height: 25px;
	line-height: 25px;
	width: auto;
	font-weight: normal;
	border: 1px solid #cecece;
	font-size: 12px;
}
.edit-row{
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	_zoom: 1;
}
.edit_right_btn{
	font-family: "微软雅黑";
	float: right;
	margin-right: 20px;
	font-size: 16px;
}
.edit_leftText{
	float: left;
	font-size: 14px;
	padding-right: 10px;
	color: #333333;
	padding-top: 6px;
}
/**************************表单元素结束*********************************************************/

/**************************全景图右边工具栏开始***************************************************/
.tool_container{
	width: auto;
	height: auto;
	overflow: hidden;
	position: absolute;
}
.tool_item_small_1{
	width: 40px;
	height: 40px;
	background-color: #eeeeee;
	text-align: center;
	border: 1px solid #cecece;
	cursor: pointer;
}
.tool_item_small_1_content{
	width: 18px;
	height: 18px;
	background: url(../../images/icon-tool.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
}
.tool_item_small_2{
	width: 40px;
	height:100px;
	text-align: center;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	cursor: pointer;
	z-index: 999;
}
.tool_item_small_2_content{
	width: 20px;
	text-align: center;
	font-family: "微软雅黑";
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	padding-top: 10px;
}
.tool_item_top{
	width: 230px;
	height: 40px;
	border: 1px solid #cecece;
	overflow: hidden;
	font-family: "微软雅黑";
	font-size: 16px;
	position: absolute;
	background-color: #eeeeee;
	z-index: 1000;
}
.tool_item_big{
	width: 230px;
	height: auto;
	border: 1px solid #cecece;
	overflow: hidden;
	font-family: "微软雅黑";
	font-size: 16px;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	min-height: 100px;
	_height: 100px;
}
.tool_item_top_left{
	clear: both;
	height: 40px;
	line-height: 40px;
	width: auto;
	text-align: left;
	float: left;
	padding-left: 10px;
	*width: 30px;
}
.tool_item_top_leftText{
	float: left;
	height: 40px;
	line-height: 40px;
}
.tool_item_top_right{
	height: 40px;
	line-height: 40px;
	width: auto;
	text-align: center;
	float: right;
	margin-right: 10px;
	font-size: 12px;
}
.tool_item_title{
	height: 27px;
	line-height: 27px;
	border-bottom: 1px solid #48b1e4;
	text-align: left;
	padding-left: 10px;
	font-family: "微软雅黑";
}
.tool_item_ul{
	clear: both;
	width: 200px;
	overflow: hidden;
	padding: 3px 15px;
}
.tool_item_li_n{
	float: left;
	width: 100px;
	height: 27px;
	line-height: 27px;
	cursor: pointer;
	font-size: 12px;
}
.tool_item_li_h{
	float: left;
	width: 98px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	background-color: #a3d8f1;
	border: 1px solid #48b1e4;
	font-size: 12px;
}
/**************************全景图右边工具栏结束 ***************************************************/

/**************************全景图timepicker开始********************************************************/
	.time_picker_container{
		width: 170px;
		_width: 190px;
		height: 18px;
		line-height: 18px;
		font-family: "微软雅黑";
		font-size: 14px;
		color: #fff;
	}
	.time_picker_type{
		width: 35px;
		height: 18px;
		overflow: hidden;
		float: left;
		padding-left: 5px;
		padding-right: 2px;
		float: left;
		text-align: left;
	}
	.time_picker_triangle{
		position:relative;
		top:15px;
		left: 3px;
		border:6px solid #fff; 
		border-color:#cecece transparent transparent transparent; 
		border-style:solid dashed dashed dashed;
	}
	.time_picker_li{
		width: 35px;
		height: 18px;
		line-height: 18px;
		cursor: pointer;
	}
	.time_picker_li_h{
		border: 1px solid #48b1e4;
		background-color: #a3d8f1;
		width: 33px;
		height: 16px;
		line-height: 16px;
		cursor: pointer;
	}
	.time_picker_text{
		width: 110px;
		height: 18px;
		line-height: 18px;
		float: left;
	}
/**************************全景图timepicker结束********************************************************/

/*************************全景图表格样式开始*********************************************************/
.panorama_table{
	 clear: both;
	 border: 1px solid #dddddd;
	 font-size: 12px;
	 width: 100%;
}
.panorama_table_th{
	background : #eeeeee;
	height: 25px;
	line-height: 25px;
	width: auto;
	font-weight: normal;
	white-space: nowrap;
	padding: 0px 6px;
}
.panorama_table_td{
	border-top: 1px solid #dddddd;
	height: 25px;
	line-height: 25px;
	width: auto;
	white-space: nowrap;
	padding: 0px 6px;
}
/*************************全景图表格样式结束*********************************************************/

/*************************渐变条开始*********************************************************/
.gradient_ul li{
	height: 98px;
	border-left: 1px solid #48b2e4;
	border-top: 1px solid #48b2e4;
	border-bottom: 1px solid #48b2e4;
	border-right: 0px;
	cursor: pointer;
	float: left;
}
.gradient_ul h6{
	font-weight: normal;
	margin: 25px 0px 15px 0px;
	font-size: 14px;
}
.gradient_ul span{
	font-family: "微软雅黑";
}
.gradient_ul .li_triangle{
	position: relative;
	border-color: transparent transparent #545454 transparent;
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	width: 0;
	height: 0;
	_border-left-color: white;
    _border-top-color: white;
    _border-right-color: white;
    _filter: chroma( color =white);
    font-size: 0;
	line-height: 0;
	display:block;
	*float: left;
}
/*************************渐变条结束*********************************************************/

/*********************************应用和手机图标开始*************************************/

.app_img{
	margin-bottom:2px;
}

/*********************************应用和手机图标结束**************************************/
