@CHARSET "UTF-8";

.l_textbox {
  border: 1px solid #95B8E7;
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  width: 180px;
}

.l_combobox {
  border: 1px solid #95B8E7;
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  width: 180px;
}

.l_textarea {
	border: 1px solid #cecece;
	outline: 0;
	_margin-top: 10px;
	font-size: 14px;
}

.l_filebox {
  border: 0px solid #95B8E7;
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  width: 250px;
}